version: '3.7'
services:
  website:
   build:
    context: .
   ports:
    - 80:80
  unit-tests:
    build:
      dockerfile: rspec.dockerfile
      context: .
    volumes: 
      - .:/app
    command: 
      - --pattern
      - /app/spec/unit/*_spec.rb
  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5901:5900